<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Продукция</title>
    <link rel="stylesheet" href="admin.css"/>
    <link rel="stylesheet" href="navigation.css" />
</head>
<body>
<header>
    <nav th:insert="~{adminNav::nav}"/>
</header>
<h1>Складская база подшипников</h1>

<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Артикул</th>
        <th>Производитель</th>
        <th>Количество</th>
        <th>Тип подшипника</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody id="requests-table-body" th:each = "product : ${product}">
    <tr>
        <td th:text = "${product.name}"></td>
        <td th:text = "${product.articleNumber}"></td>
        <td th:text = "${product.manufacturer}"></td>
        <td th:text = "${product.quantity}"></td>
        <td th:text = "${product.typeProduct}"></td>
        <td th:text="${product.price + ' руб.'}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
