<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="basket.css"/>
    <link rel="stylesheet" href="userNav.css" />
</head>
<body class="basket-body">
<header>
    <nav th:insert="~{userNav::nav}"/>
</header>
<h1>Ваша корзина</h1>

<table>
    <thead>
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Итого</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${cart}">
        <td th:text="${cart.name}"></td>
        <td th:text="${cart.price} + ' ₽'"></td>
        <td th:text="${cart.quantity}"></td>
        <td th:text="${cart.quantity * cart.price} + ' ₽'"></td>
        <td>
            <div class="inline">
                <form th:action="@{'/cart/remove/' + ${cart.productId}}" method="post">
                    <button type="submit" class="btn-remove">Удалить</button>
                </form>
                <form th:action="@{'/cart/add/' + ${cart.productId}}" method="post">
                    <button type="submit" class="btn-add">Добавить</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="total">
    Итого: <span th:text="${total} + ' ₽'"></span>
</div>
<div>
    <button type="button" class="btn btn-checkout" onclick="openModal()">Оформить заказ</button>
</div>


<div id="checkoutModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Оформление заказа</h2>
        <form method="POST" action="/cart" class="login-form">
            <div class="form-group">
                <label for="address">Адрес доставки:</label>
                <input type="text" id="address" name="address" required>
            </div>

            <div class="form-group">
                <label for="dateDelivery">Дата доставки (с 9:00 до 20:00):</label>
                <input type="date" id="dateDelivery" name="dateDelivery" required>
            </div>

            <div class="form-group">
                <label for="payment">Способ оплаты:</label>
                <select id="payment" name="payment" required>
                    <option>Банковская карта</option>
                    <option>Наличные</option>
                </select>
            </div>

            <div class="form-group">
                <label for="note">Комментарий к заказу (необязательно):</label>
                <textarea id="note" name="note"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-confirm">Подтвердить заказ</button>
            </div>
        </form>
    </div>
</div>


<script>
    function openModal() {
        document.getElementById("checkoutModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("checkoutModal").style.display = "none";
    }

    window.onclick = function(event) {
        const modal = document.getElementById("checkoutModal");
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    window.addEventListener('DOMContentLoaded', function () {
        const input = document.getElementById('dateDelivery');
        const today = new Date();
        today.setDate(today.getDate() + 4); // добавляем 4 дня
        const yyyy = today.getFullYear();
        const mm = String(today.getMonth() + 1).padStart(2, '0'); // месяцы от 0 до 11
        const dd = String(today.getDate()).padStart(2, '0');
        const minDate = `${yyyy}-${mm}-${dd}`;
        input.min = minDate;
    });
</script>

</body>
</html>
