<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="reg.css"/>
</head>
<body>
<div class="form-container">
    <img src="images/logo.jpg" class="login-logo">
    <h2>Регистрация</h2>

    <div th:if="${error}" class="alert" th:text="${error}"></div>

    <form th:action="@{/registration}" method="post" id="registrationForm">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" placeholder="ivanov2003" id="username" name="username" required th:value="${username}">
        </div>

        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" placeholder="Иванов" id="surname" name="surname" required minlength="2">
        </div>

        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" placeholder="Иван" id="name" name="name" required minlength="2">
        </div>

        <div class="form-group">
            <label for="patronymic">Отчество</label>
            <input type="text" placeholder="Иванович(необязательное)" id="patronymic" name="patronymic" required minlength="2">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Номер телефона</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required
                   pattern="\+7\s\d{3}\s\d{3}\s\d{2}\s\d{2}" maxlength="16"
                   placeholder="+7 999 999 99 99"
                   title="Формат: +7 999 999 99 99">
        </div>

        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="text" id="email" name="email" required
                   placeholder="ivanov@mail.ru"
                   title="Введите корректный email, например: ivanov@mail.ru">
            <div class="error-message" id="emailError">Неверный формат email</div>
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" placeholder="**************" id="password" name="password" required minlength="6">
        </div>

        <div class="form-group">
            <label for="confirmPassword">Подтверждение пароля</label>
            <input type="password" placeholder="**************" id="confirmPassword" name="confirmPassword" required>
        </div>

        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
</div>

<script>
    const emailInput = document.getElementById('email');
    const emailError = document.getElementById('emailError');

    emailInput.addEventListener('input', function () {
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (!emailPattern.test(emailInput.value)) {
            emailError.style.display = 'block';
        } else {
            emailError.style.display = 'none';
        }
    });
</script>
</body>
</html>
