<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Управление заявками</title>
    <link rel="stylesheet" href="admin.css"/>
    <link rel="stylesheet" href="navigation.css" />
</head>
<body>
<header>
    <nav th:insert="~{adminNav::nav}"/>
</header>
<h1>Управление заявками</h1>

<table>
    <thead>
    <tr>
        <th>ID заявки</th>
        <th>Имя пользователя</th>
        <th>Наименование подшипника</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody id="requests-table-body">
    <tr>
        <td>1</td>
        <td>Иван Иванов</td>
        <td>Роликовый подшипник</td>
        <td>2</td>
        <td>2000 ₽</td>
        <td>Ожидает</td>
        <td>
            <button class="btn-approve" onclick="processRequest(1, 'approve')">Принять</button>
            <button class="btn-reject" onclick="processRequest(1, 'reject')">Отклонить</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Мария Петрова</td>
        <td>Роликовый подшипник</td>
        <td>5</td>
        <td>5000 ₽</td>
        <td>Ожидает</td>
        <td>
            <button class="btn-approve" >Принять</button>
            <button class="btn-reject" >Отклонить</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
