<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="userNav.css" />
</head>
<body class="nav-body">
<nav th:fragment="nav">
    <div class="navbar">
        <a th:href="@{/product}"
           th:classappend="${requestURI.startsWith('/product')} ? 'active' : ''">
            Подшипники
        </a>
        <a th:href="@{/cart}"
           th:classappend="${requestURI.startsWith('/cart')} ? 'active' : ''">
            Корзина
        </a>
        <a th:href="@{/order}"
           th:classappend="${requestURI.startsWith('/order')} ? 'active' : ''">
            Заказы
        </a>
        <a th:href="@{/user}"
           th:classappend="${requestURI.startsWith('/user')} ? 'active' : ''">
            Личный кабинет
        </a>
    </div>
</nav>
</body>
</html>
