<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="user.css"/>
    <link rel="stylesheet" href="userNav.css" />
</head>
<body>

<header>
    <nav th:insert="~{userNav::nav}"/>
</header>
<h1>Личный кабинет</h1>
<main>
    <div class="user-info" th:each = "users : ${users}">
        <h2 th:text = "'Добро пожаловать, ' + ${firstName} + '!'"></h2>
        <p><strong>ФИО:</strong> <span th:text="${users.fullName}"></span></p>
        <p><strong>Номер телефона:</strong> <span th:text="${users.phoneNumber}"></span></p>
        <p><strong>Электронная почта:</strong> <span th:text="${users.email}"></span></p>
    </div>

    <a href="/login" class="btn-logout">Выйти</a>
</main>

</body>
</html>
